@using ECommerceCoreDapper.Models
@model Suppliers

@{
    ViewData["Title"] = "TedarikciKaydet";
    Layout = "~/Views/Shared/admin_layout.cshtml";

    IEnumerable<SelectListItem> dlist = ViewData["dlist"] as IEnumerable<SelectListItem>;
    IEnumerable<SelectListItem> slist = ViewData["slist"] as IEnumerable<SelectListItem>;
}

<br />
<br />

<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet box purple ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> TEDARİKÇİ GİRİŞ FORMU
        </div>
        <div class="tools">
            <a href="" class="collapse">
            </a>
            <a href="#portlet-config" data-toggle="modal" class="config">
            </a>
            <a href="" class="reload">
            </a>
            <a href="" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body form">        
            <form class="form-horizontal" enctype = "multipart/form-data" role="form" action="/Admin/TedarikciKaydet" method="post">
                <div class="form-body">
                <div class="form-group"> 
                    <label class="col-md-3 control-label">ŞİRKET ADI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="CompanyName" required maxlength="50">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">YETKİLİ ADI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="ContactFName" required maxlength="50">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">YETKİLİ SOYADI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="ContactLName" required maxlength="50">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">YETKİLİ ÜNVANI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="ContactTitle"  maxlength="50">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">WEBSİTE</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="WebSite"  maxlength="50">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">İNDİRİM TİPİ SEÇİNİZ</label>
                    <div class="col-md-9">
                        @Html.DropDownList("DiscountType", dlist, "Seçiniz", new {@class= "form-control input-lg" })
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">İNDİRİM ORANI GİRİNİZ</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="DiscountRate" onkeypress="return numberonly(this, event);">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">İNDİRİM YAPMAYA İZİN VER</label>
                    <div class="col-md-9">
                        @Html.CheckBox("DiscountAvailable","true")
                    </div>
                </div>
                <div class="form-group">
                        <label class="col-md-3 control-label">LOGO SEÇİNİZ</label>
                        <div class="col-md-9">
                            <input type="file" class="form-control input-lg" name="fileOne" placeholder="Logo Seçiniz." >
                        </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">ACIKLAMA GİRİNİZ</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="Note"  maxlength="250">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">TEDERİKCİ PUANI GİRİNİZ</label>
                    <div class="col-md-9">
                        <input type="number" min="1" max="10" id="rank" class="form-control input-lg" name="Ranking" placeholder="1-10 arası bir rakam giriniz.." onkeypress="return numberonly(this, event);" >
                    </div>
                </div>
                <div class="portlet box purple ">
                 <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> ADRES GİRİŞ FORMU
        </div>
        <div class="tools">
            <a href="" class="collapse">
            </a>
            <a href="#portlet-config" data-toggle="modal" class="config">
            </a>
            <a href="" class="reload">
            </a>
            <a href="" class="remove">
            </a>
        </div>
            </div>
                <div class="portlet-body form">        
            <div class="form-body">              
                <div class="form-group"> 
                    <label class="col-md-3 control-label">ADRES ADI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="AddressName" required maxlength="50">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">ADRES BİLGİSİ</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="Address1" required maxlength="100">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">ADRES BİLGİSİ</label>
                    <div class="col-md-9">
                        <input type="text"  class="form-control input-lg" name="Address2"  maxlength="100">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">ŞEHİR</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="City" required maxlength="50">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">İLÇE</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="State" required maxlength="50">
                    </div>
                </div>
                 <div class="form-group"> 
                    <label class="col-md-3 control-label">POSTA NUMARASI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="PostalCode" maxlength="50">
                    </div>
                </div>
                 <div class="form-group"> 
                    <label class="col-md-3 control-label">ÜLKE</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="Country" required maxlength="50">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">TELEFON NUMARASI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="Phone" required maxlength="25">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">FAX NUMARASI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="Fax" required maxlength="25">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">EMAİL</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control input-lg" name="Email" required maxlength="25">
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">FATURA ADRESİ</label>
                    <div class="col-md-9">
                        @Html.CheckBox("IsBill","true")
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">KARGO ADRESİ</label>
                    <div class="col-md-9">
                        @Html.CheckBox("IsShip","true")
                    </div>
                </div>
                <div class="form-group"> 
                    <label class="col-md-3 control-label">AKTİF ADRES Mİ?</label>
                    <div class="col-md-9">
                        @Html.CheckBox("Active","true")
                    </div>
                </div>                 
            </div>     
    </div>
                 </div>       
                 <div class="form-actions right1">
                    <button type="submit" id="catAdd" class="btn green">KAYDET</button>
                 </div>
            </div>            
        </form> 
               
    </div>   
</div>


     
   

<!-- END SAMPLE FORM PORTLET-->



